    @model IEnumerable<Siit_Conference.Models.SpeakerDto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create" asp-controller="Speakers">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebSite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "red", id = "edit-link" })|
                   @*<button id = "delete-item", onclick="deleteSpeaker(@item.Id);">Delete</button>*@

                    <a href="javascript:void(0);" id="delete-item" onclick="deleteSpeaker(@item.Id);">Delete</a>

                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { id = "delete-item", onclick="deleteSpeaker();"})*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{ 

<script>
    function deleteSpeaker(id) {
        debugger;
        $.ajax({
            method: "DELETE",
            url: "/Speakers/Delete/" + id,// /speakers/{id}
        }).done(function (data) {
            console.log(data);
           
        });
    }
</script>
}
